[submodule "umr"]
	path = umr
	url = https://github.com/emcleary/umr
[submodule "parallel-multigrid-framework"]
	path = parallel-multigrid-framework
	url = https://github.com/emcleary/parallel-multigrid-framework
